<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<header th:replace="fragments :: page-header"></header>

<title>Register</title>

<form class="signup-form" method="post">
    <div class="form-group">
        <label class="signup">Username
            <input class="form-control" th:field="${signUpFormDTO.username}" />
        </label>
        <p class="error" th:errors="${signUpFormDTO.username}"></p>
    </div>
    <div class="form-group">
        <label class="signup">Password
            <input class="form-control" th:field="${signUpFormDTO.password}" type="password" />
        </label>
        <p class="error" th:errors="${signUpFormDTO.password}"></p>
    </div>
    <div class="form-group">
        <label class="signup">Verify Password
            <input class="form-control" th:field="${signUpFormDTO.verifyPassword}" type="password" />
        </label>
    </div>
    <div class="form-group">
        <button type="submit" class="btn"><a>Signup</a></button>
    </div>
</form>

</body>
</html>